<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BCrypt.Net-Next" version="4.0.3" manuallyInstalled="true" />
  <package id="Dapper" version="2.1.35" manuallyInstalled="true" />
  <package id="Jace" version="1.0.0" manuallyInstalled="true" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="8.0.0" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="8.0.0" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="8.0.0" />
  <package id="Npgsql" version="8.0.2" manuallyInstalled="true" />
  <package id="System.Collections.Immutable" version="8.0.0" />
  <package id="System.Diagnostics.DiagnosticSource" version="8.0.0" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" />
  <package id="System.Text.Encodings.Web" version="8.0.0" />
  <package id="System.Text.Json" version="8.0.0" />
  <package id="System.Threading.Channels" version="8.0.0" />
</packages>